
.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}
/* .cardImage {
    transform: scale(1);
    transition: transform .5s;
}
.cardImage:hover {
    transform: scale(1.8);  
} */